@media only screen and (max-width: 768px) {
  .slid-hdn-main {
    margin-top: 10px !important;
    color: white;
    font-size: 20px !important;
    text-align: left;
    font-weight: bold;
    margin-left: 20px;
  }
  .slid-hdn-main span > p {
    font-size: 12px !important;
    font-weight: normal;
    line-height: -5px;
  }
  .slide-dwn {
    border-top: solid 1px gray;
  }
  .slide-dwn p {
    margin-top: 10px;
    font-size: 9px !important;
    text-align: justify;
    font-weight: lighter;
  }
  .slid-text-down {
    margin-left: 20px !important;
    margin-top: 40px !important;
    letter-spacing: 3px !important;
    color: white;
  }
  .right-c1{
    margin-top: 10px !important;
    width: 100%;
    height: 49%;
  
}
.right-c2{
  margin-top: 20px !important;
  width: 100% !important;
  height: 30% !important;

}
}
@media only screen and (max-width: 600px) {
  .slid-hdn-main {
    margin-top: 80px !important;
    color: white;
    font-size: 25px !important;
    text-align: left;
    font-weight: bold;
    margin-left: 20px;
  }
  .slid-hdn-main span > p {
    font-size: 10px !important;
    font-weight: normal;
    line-height: -5px;
  }
  .slide-dwn {
    border-top: solid 1px gray;
  }

  .slid-text-down {
    margin-left: 20px !important;
    letter-spacing: 3px !important;
    color: white;
    bottom: 20px !important;
  }
  .slide-dwn p {
    margin-top: 10px;
    font-size: 10px !important;
    text-align: justify;
    font-weight: lighter;
  }
  .slide-dwn p {
    margin-top: 10px;
    margin-bottom: -5px;
  }
}
@media only screen and (max-width: 500px) {
  .slid-hdn-main {
    margin-top: 140px !important;
    color: white;
    font-size: 16px !important;
    text-align: left;
    font-weight: bold;
    margin-left: 20px;
  }
  .slid-hdn-main span > p {
    font-size: 9px !important;
    font-weight: normal;
    line-height: -5px;
  }
  .slid-text-down {
    margin-left: 20px !important;
    margin-top: 2px !important;
    letter-spacing: 3px !important;
    color: white;
  }
  .btn {
    font-size: 10px !important;
  }
  .slide-dwn p {
    margin-top: 10px;
    margin-bottom: -10px;
  }
}
@media only screen and (max-width: 440px) {
  .slid-hdn-main {
    margin-top: 100px !important;
    color: white;
    font-size: 19px !important;
    text-align: left;
    font-weight: bold;
    margin-left: 20px;
  }
  .slid-hdn-main span > p {
    font-size: 9px !important;
    font-weight: normal;
    line-height: -5px;
  }
  .slide-dwn {
    border-top: solid 1px gray;
  }

  .slid-text-down {
    margin-left: 20px !important;
    margin-top: 0px !important;
    letter-spacing: 3px !important;
    color: white;
  }
  .slide-dwn p {
    margin-top: 10px;
    font-size: 8px !important;
    text-align: justify;
    font-weight: lighter;
  }
  .slide-dwn i {
    margin-top: 10px;
    font-size: 8px !important;
    
  }
}
@media only screen and (max-width: 358px)
{
    .slid-text-down {
        bottom: 10px !important;
        margin-left: 20px !important;
        letter-spacing: 3px !important;
        color: white;
      }
}